@import './core/reset';
@import './core/variables';


.main {
  display: grid;
  row-gap: 3rem;

  @media (min-width: 600px) {
    grid-template-columns: 2fr 3fr;
    column-gap: 3rem;
  }
}

.form {
  &__section {
    width: 300px;
    margin-inline: auto;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 5em 1fr;

    @media (min-width: 600px) {
      width: 100%;
      grid-template-columns: 9em 1fr;
    }
  }
}

.labelCity, .labelGender{
    display: block;
}